.App {
  text-align: center;
}

.questionSetDiv {
  width: 600px;
  margin-left: 50px;
  margin-right: 50px;
}
.questionSetDiv .setTitle {
  display: flex;
}

.questionDiv {
  display: flex;
  padding-left: 10px;
  background-color: darkgray;
  border-bottom: double;
}
.questionDiv .iconDiv {
  margin-right: 10px;
  margin-left: auto;
  align-self: center;
}

.questionText {
  display: inline;
}

.questionValue {
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 10px;
}
